
@model IEnumerable<TLoaiSp>
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    
                        @foreach (var item in Model)
                        {
                            <a asp-controller="Home" asp-action="SanPhamTheoLoai" asp-route-maloai="@item.MaLoai">@item.Loai</a>
                        }
                    
                </div>
              
            </div>
        </div>
    </div>
</section>